/* start variable */

/* end variables */

/* start global rules */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global rules */

/* start header */
header {
  padding: 20px;
}
/* end header */
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .logo {
  width: 60px;
}
header .links {
  position: relative;
}
header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
}
header .links .icon span:first-child {
  width: 100%;
  height: 2px;
}
header .links .icon span:nth-child(2) {
  width: 60%;
  height: 2px;
}
header .links .icon span:last-child {
  width: 100%;
  height: 2px;
}
